@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('./theme.scss');

:root {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica,
    Helvetica Neue, PingFang SC, 'Hiragino Sans GB', 'Microsoft YaHei',
    '\u5fae\u8f6f\u96c5\u9ed1', '微软雅黑', Arial, sans-serif;
  
  // font-size: calc(100vw / 19.2);

  font-size: calc(100vw / 15.5);
  // font-size: 12px;
  font-weight: 400;

  --adm-popover-z-index: 9999;
  --adm-mask-z-index: 99999;

  // --safe-area-inset-top: 50px; // 安全区top
  // --safe-area-inset-bottom: 20px; // 安全区bottom
}


@media (max-width: 767px) {  /* 手机等小屏幕设备 */
  :root {
    font-size: calc(100vw / 7.5);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {  /* 平板设备 */
  :root {
    font-size: calc(100vw / 15);
  }
}

@media (min-width: 1024px) and (max-width: 1599px) {  /* PC 大屏幕设备 */
  :root {
    font-size: calc(100vw / 15.5);
  }
}

@media (min-width: 1600px) {  /* PC 大屏幕设备 */
  :root {
    font-size: calc(100vw / 19.2);
  }
}



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // user-select: none;
}

ul,
dl,
ol {
  list-style: none;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #333 !important;
}

::-webkit-scrollbar {
  display: none;
}

.adm-capsule-tabs-tab-wrapper {
  flex: unset !important;
}
